# Visual Studio 2015 cache/options directory
.vs/

# OpenCppCoverage
msvc/LastCoverageResults.log

# CppCheck
msvc/cppcheck/


# Output directories
msvc/bin/
msvc/obj/
*/gcc/bin/
*/gcc/obj/

# Keep but don't store in the repo
keep/
legacy/
