# Visual Studio cache/options directory
.vs/

# cppcheck directory
cpp/msvc/cppcheck/

# Used by MSVC build to capture git hash and build time
/cpp/msvc/transient.h

# Output directories
bin/
obj/

# Keep but don't store in the repo
keep/
