# Visual Studio 2015 cache/options directory
.vs/

# OpenCppCoverage
msvc/LastCoverageResults.log

# Output directories
msvc/bin/
msvc/obj/
cygwin/gcc/bin/
cygwin/gcc/obj/
mingw/gcc/bin/
mingw/gcc/obj/

# Keep but don't store in the repo
keep/
